/* ANIMAÇOES DE CARREGAMENTO */
@keyframes letraL {
    0%, 75%{
        position: relative;
        left: 0;
        transform: rotateY(0deg) scale(1.0);
        transition: 2s all;

    } 25%, 100% { 
        transform: rotateY(180deg) scale(1.2);
        left: 10vw;
        transition: 2s all;
    }
}
@keyframes letraF {
    0%, 75%{
        position: relative;
        left: 0;
        transform: rotateY(0deg) scale(1.0);
        transition: 2s all;

    } 25%, 100% { 
        transform: rotateY(180deg) scale(1.2);
        left: -10vw;
        transition: 2s all;
    }
}

/* CONFIGURACAO DO LOADING */
#loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100vw;
    height: 100vh;
    background: url(../../img/tecnologias/pawel-czerwinski-S2iPI7keCCc-unsplash.jpg) repeat-x;
    background-size: cover;
}

/* CONFIGURACAO DAS LETRAS */
.letra{
    width: 100px;
    height: 100px;
    
}
.letraL{
    animation: letraL 3s infinite alternate;
}
.letraF{
    animation: letraF 3s infinite alternate;
}
.fundo__loading{
    background: gray;
    width: 200px;
    height: 20px;
    border-radius: 50px;
}
.transicao{
    background: #2DC7ED;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    animation: passar 4s forwards;
}

@keyframes passar{
    from{
        width: 20px;
    }
    to{
        width: 200px;
    }
}