/* botao */
.fundo-fonte{
    background: #2DC7ED;
    width: 28px;
    margin-top: 1rem;
    margin-left: 1rem;
    height: 28px;
    border-radius: 20px;
    border: 1px solid rgba(0,0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;

}
.botao-fonte{
    width: 20px;
    height: 20px;
    background-image: url(../img/text-font.png);
    background-size: contain;
    margin: 2px auto;
}
.fundo-fonte-aumentar{
    width: 20px;
    height: 20px;
    background-image: url(../img/decrease-font-size.png);
    background-size: contain;
    margin: 2px auto;
}
