/* botao */
.fundo{
    background: gray;
    width: 50px;
    margin-top: 1rem;
    margin-left: 1rem;
    height: 22px;
    border-radius: 20px;
    border: 1px solid rgba(0,0, 0, 0.2);
    box-sizing: border-box;

}
.botao{
    background-size: contain;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px;
    position: relative;
    left: 0px;
    transition: 1s all;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
}
.botaoCliclado{
    background-size: contain;
    left: 28px;
    transition: 1s all;
}
.botaoClicladoFundo{
    background-color: #2DC7ED;
}
