/* botao */
.fundo-volume{
    background: gray;
    width: 28px;
    margin-top: 1rem;
    margin-left: 1rem;
    height: 28px;
    border-radius: 20px;
    border: 1px solid rgba(0,0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;

}
.botao-volume{
    width: 25px;
    height: 25px;
    background-image: url(../img/tecnologias/volume.png);
    background-size: contain;
    margin: 0 auto;
}
.botaoCliclado-volume{
    background-image: url(../img/tecnologias/volume-mute.png);
    background-size: contain;
    left: 28px;
    transition: 1s all;
    z-index: 1;
}
