/* redes */
.redes{
    flex-grow: 1;
    padding: 2rem;
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.redes-emojis-a{
    width: 40px;
    height: 40px;
}
.redes-emojis{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}
.redes-emojis-twitter{
    margin: 0;
    animation: mudar 5s infinite alternate;
}
.redes-emojis-linkedin{
    margin: 0;
    animation: mudar 5.5s infinite alternate;
}
.redes-emojis-github{
    margin: 0;
    animation: mudar 6s infinite alternate;
}
.redes-emojis-wpp{
    margin: 0;
    animation: mudar 6.5s infinite alternate;
}
.redes-emojis-insta{
    margin: 0;
    animation: mudar 7s infinite alternate;
}

@keyframes mudar {
    to{
        margin-left: 0;
    }
    from{
        transform: scale(1.5) rotate3d(10, 20, 10, 360deg);
        transition: 3s all;
    }
}

.redes-emojis-twitter:hover, .redes-emojis-linkedin:hover, .redes-emojis-github:hover, 
.redes-emojis-wpp:hover,.redes-emojis-insta:hover {
    transform: scale(1.5) rotate3d(10, 10, 10, 360deg);
    transition: 3s all;
}

.fontes{
    display: flex;
}